<launch>
    <arg name="rqt_mode" default="no" doc="rqt_mode type [yes, no]"/>

    <node pkg="detect" type="detect_level" name="detect_level" output="screen">
        <rosparam command="load" file="$(find detect)/yaml/level.yaml"/>
        <param if="$(eval rqt_mode == 'yes')" name="/is_rqt_mode" value="True"/>
        <param if="$(eval rqt_mode == 'no')" name="/is_rqt_mode" value="False"/>     
    </node>

</launch>